<div class="wrapper">
  <div class="innerWrapper">
    <p class="statisticText">Average petrol <br> consumption per 100km</p>
    <p class="statisticNumber">{{ AveragePetrolConsumptionPer100km }}</p>
  </div>
  <div class="innerWrapper">
    <p class="statisticText">Average LPG <br> consumption per 100km</p>
    <p class="statisticNumber">{{ AverageLPGConsumptionPer100km }}</p>
  </div>
  <div class="innerWrapper smallerWrapper">
    <p class="statisticText smallerText">Average LPG <br> price </p>
    <p class="statisticNumber smallerNumber">{{ AverageLPGPrice }}</p>
  </div>
  <div class="innerWrapper smallerWrapper">
    <p class="statisticText smallerText">Average petrol <br> price</p>
    <p class="statisticNumber smallerNumber">{{ AveragePetrolPrice }}</p>
  </div>
  <div class="innerWrapper smallerWrapper">
    <p class="statisticText smallerText">Average petrol <br> price</p>
    <p class="statisticNumber smallerNumber">{{ AveragePetrolPrice }}</p>
  </div>
</div>
