.wrapper{
  display: flex;
  gap: 0;
}

.title{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img{
  max-width: 100px;
}

h1{
  margin-right: 30px;
  margin-top: 0;
  line-height: 2.6rem;
  color: #eee;
}

pre{
  margin: 0;
}

.carButton{
  border-radius: 40px;
  background-color: #eee;
  padding: 20px;
  margin: 10px;
  width: 75%;
  font-size: 1.2rem;
}

.carButton:hover{
  background-color: #e5e5e5;
  cursor: pointer;
}

.selectedButton{
  background-color: #ddd;
}
