section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 88vw;
}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

h1{
  background: #eee;
}
