section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.wrapper{
  display: flex;
  align-items: start;
}

h1{
  background: #eee;
}
