.wrapper {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  padding: 4px;
  margin: 20px;
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.button {
  background-color: rgba(0, 130, 95, 0.8);
  border-radius: 20px;
  padding: 12px;
  margin: 10px;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.button:hover {
  background-color: #00825f;
}

.selectedButton {
  background-color: #00825f;
}
